body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.calender {
  background: #d2d2d2;
  padding: 10px;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
}

.day.current-day {
  background: #f23636;
}

.emptySlot {
  color: #f1f1f1;
}

td {
  padding: 10px;
}

.label-month, .label-year {
  padding: 10px;
}

.fas {
  cursor: pointer;
}
